.twofa {
	display: flex;
	justify-content: center;
}
.twofa p, h2 {
	margin-top: 10px;
}
.two_flex {
	display: flex;
	flex-direction: column;
}
.fa_block {
	text-align: center;
	width: 50%;
	background-color: rgba(71, 70, 70, 0.5);
	margin-top: 30px;
	padding: 20px;
	border-radius: 7px;
}
img[name="fa_qr"] {
	width: 200px;
	height: 200px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	display: none;
}
.preInput {
	text-align: center;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}
.button {
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}
@media screen and (max-width: 1200px) {
	.fa_block {
		width: 90%;
	}
	.twofa h1, h2 {
		font-size: 1.1rem
	}
	.preInput {
		width: 85%;
	}
	.button {
		width: 85%;
	}
}